@page "/employeeoverview"
@inherits EmployeeOverviewBase

<h3>EmployeeOverview</h3>

@code {

}
@if (Employes == null)
{
    <h2>No hay datos cargados.</h2>
}
else
{
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            
        </tr>
        @foreach (var reg in Employes)
        {
            <tr>
                <td>@reg.Id</td>
                <td>@reg.FirstName</td>
                <td>@reg.LastName</td>
                <td>
                    <a href="@($"employeedetail/{@reg.Id}")" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </table>
}